
<body>

  <br><br><br><br><br><br><br><br><br><br>
  <div id="suscripcion">
    <div >
      Llena el siguiente formulario para recibir las actualizaciones de <strong>NATURA</strong> a tu correo.
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombres</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Apellidos</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Email</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="suscripcion@natura.com">
    </div>
    <div class="form-group">

      <select class="form-select" aria-label="Default select example">
        <option selected>Por favor, cuentanos cómo nos conociste</option>
        <option value="1">Redes sociales</option>
        <option value="2">Recomendación</option>
        <option value="3">Otra</option>
      </select>
    </div>
    <button type="button" class="btn btn-outline-success">Suscribirme</button>
  </div>

</body>