<br><br>
<div class="card mb-3 container">
  <h5 class="card-title">¡Bienvenido a <strong>NATURA</strong>!</h5>
    <p class="card-text">El blog Natura es un espacio especializado en contenido ambiental y biológico, aqí podrás 
      tener nociones básicas de la vida en la Tierra y siempre estar enterado de lo que ocurre en nuestro planeta.
      Para estar siempre informado de nuestras actualizaciones no olvides suscribirte, así te podremos notificar en
      tu correo electrónico. 
      </p>
    
  <img id="tortuga" src="assets/img/tortuga.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"></h5>
    
  </div>
</div>





<div class="card-group container" id="natura">
  <div class="card">
    <img src="/assets/img/calentamiento-global.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Calentamiento global</h5>
      <p class="card-text">
        El calentamiento global o calentamiento mundial es el aumento a largo plazo de la temperatura atmosférica media del sistema climático de la Tierra debido a la intensificación del efecto invernadero. Es un aspecto primordial del cambio climático actual, demostrado por la medición directa de la temperatura, 
        el registro de temperaturas del último milenio y de varios efectos del calentamiento global ya visibles.
      </p>
      <p class="card-text"><small class="text-muted" > <a href="https://es.wikipedia.org/wiki/Calentamiento_global" target="_blank"> 
        Da clic aquí para más información.
      </a>
          </small></p>
    </div>
  </div>
  <div class="card">
    <img src="/assets/img/bio.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Biodiversidad</h5>
      <p class="card-text">
        La biodiversidad o diversidad biológica es la variedad de la vida. Este reciente concepto incluye 
        varios niveles de la organización biológica. Abarca a la diversidad de especies de plantas, animales,
         hongos y microorganismos que viven en un espacio determinado, a su variabilidad genética, a 
         los ecosistemas de los cuales forman parte estas especies y a los paisajes o regiones en donde se ubican los ecosistemas. También incluye los procesos ecológicos y evolutivos que se dan a nivel de genes, especies, ecosistemas y paisajes.
      </p>
      <p class="card-text"><small class="text-muted"> <a href="https://www.fundacionaquae.org/wiki/que-es-biodiversidad/amp/?gclid=Cj0KCQjw8uOWBhDXARIsAOxKJ2HloEr7XASNaA_R702z7aCfjUrcY0bGE7_lJ_PdgqCWhpeGSMVF_doaAt3MEALw_wcB" target="_blank">
        Da clic aquí para más información.
      </a>

      </small></p>
    </div>
  </div>
  <div class="card">
    <img src="/assets/img/vida.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">¿Qué es la vida?</h5>
      <p class="card-text">
        es un sistema químico que utiliza energía para evitar alcanzar el equilibrio químico. Desde la biología, 
        se suelen enumerar una serie de características que distinguen a los seres vivos del resto de las 
        realidades naturales, como la capacidad de organización, crecimiento, metabolismo, respuesta a estímulos o
         reproducción. La evidencia sugiere que ha existido vida en la Tierra al menos desde hace 3770-4280 
         millones de años2​ y se estima que surgió hace 4350 millones de años.
      </p>
      <p class="card-text"><small class="text-muted"> <a href="https://es.wikipedia.org/wiki/Vida" target="_blank">
        Da clic aquí para más información.
      </a>

      </small></p>
    </div>
  </div>
</div>
<br><br>


<div class="card-group container" id="noticias">
  <div class="card">
    <img src="/assets/img/inca.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Más allá de Machu Picchu</h5>
      <p class="card-text">El único camino inca del que la mayoría de la gente ha oído hablar es el camino de 42 kilómetros que va desde Piscacucho (cerca de Cusco, Perú) hasta las ruinas cubiertas de selva de Machu Picchu. Una de las caminatas más emblemáticas del planeta, atrae a unos 25.000 excursionistas cada año. Mientras tanto, los senderos de la gran red Qhapaq Ñan han pasado desapercibidos, sin uso y desprotegidos.
        </p>
      <p class="card-text"><small class="text-muted"> <a href="https://www.nationalgeographicla.com/viajes/2022/07/explora-la-vida-inca-mas-alla-de-machu-picchu-a-traves-de-esta-ruta-sudamericana" target="_blank">Mira la noticia completa aquí</a>
        
      </small></p>
    </div>
  </div>
  <div class="card">
    <img src="/assets/img/mapache.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mapaches</h5>
      <p class="card-text">Nuestras acciones están volviendo más inteligentes a los mapaches. Los mapaches se ganaron una mala reputación por sus acciones tramposas en los vecindarios. Pero son lo suficientemente inteligentes como para usarnos a nosotros y a nuestros recursos para su propio bien.</p>
      <p class="card-text"><small class="text-muted"> <a href="https://www.nationalgeographicla.com/animales/como-nuestras-acciones-estan-haciendo-que-los-mapaches-sean-mas-inteligentes" target="_blank"> Mira la noticia completa aquí</a></small></p>
    </div>
  </div>
  <div class="card">
    <img src="/assets/img/amazonas.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Ciclos de lluvia y sequía en el río Amazonas</h5>
      <p class="card-text"> La acción humana, como la deforestación del bosque y la minería, está influyendo en la distribución de las precipitaciones, las sequías, los periodos de inundación e incluso en la modificación de cursos fluviales completos. 
      </p>
      <p class="card-text"><small class="text-muted"> <a href="https://www.nationalgeographicla.com/medio-ambiente/2022/04/como-la-actividad-humana-esta-alterando-los-ciclos-de-lluvias-y-sequias-en-la-cuenca-del-rio-amazonas" target="_blank">Mira la noticia completa aquí</a></small></p>
    </div>
  </div>
</div>


<div class="card text-center" id="estadisticas">
  <div class="card-header">
    Estadísticas ambientales
  </div>
  <div class="card-body">
    <h5 class="card-title">Desarrollo sostenible</h5>
    <p class="card-text">Conoce las últimas estadísticas de desarrollo sostenible en Colombia hechas por el DANE</p>
    <a href="https://www.dane.gov.co/index.php/estadisticas-por-tema/ambientales/estadisticas-asociadas-al-desarrollo-sostenible" target="_blank" class="btn btn-primary">Ir allí</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>